:root {
   /* COLOR TOKEN */
   --color-background: #FBFBFB;
   --color-background-elevated: #EDEDED;
   --color-button-background-primary: #202020;
   --color-button-background-primary-hover: #545454;
   --color-button-text-primary: #FBFBFB;
   --color-button-background-secondary: #DEDEDE;
   --color-button-text-secondary: #202020;
   --color-divider: #DEDEDE;
   --color-text-primary: #202020;
   --color-text-secondary: #707070;
   --color-text-third: #BABABA;
   --color-focus: #202020;
   --color-primary: #019074;

   /* SPACE TOKEN */
   --space-none: 0;
   --space-xx-small: 2px;
   --space-x-small: 4px;
   --space-small: 8px;
   --space-regular: 16px;
   --space-medium: 24px;
   --space-large: 32px;
   --space-x-large: 48px;
   --space-xx-large: 64px;
   --space-xxx-large: 96px;
}

body {
   padding-top: env(safe-area-inset-top);
   padding-bottom: env(safe-area-inset-bottom);
   padding-left: env(safe-area-inset-left);
   padding-right: env(safe-area-inset-right);
}

/* COLOR */
.color-text-secondary {
   color: var(--color-text-secondary);
}

svg {
   fill: var(--color-text-primary);
}

/* TYPOGRAPHY */
@font-face {
   font-family: MonaSans-title;
   src: url(../assets/fonts/MonaSans-title.woff2) format("woff2");
   font-style: normal;
   font-weight: 500;
   font-display: fallback;
}

@font-face {
   font-family: MonaSans-body;
   src: url(../assets/fonts/MonaSans-body.woff2) format("woff2");
   font-style: normal;
   font-weight: 400;
   font-feature-settings: "ss01" on;
   font-display: fallback;
}

@font-face {
   font-family: MonaSans-bodyBold;
   src: url(../assets/fonts/MonaSans-bodyBold.woff2) format("woff2");
   font-style: normal;
   font-weight: 700;
   font-feature-settings: "ss01" on;
   font-display: fallback;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-family: MonaSans-title, sans-serif;
}

h1, .h1 { 
   margin: 0;
   font-size: 44px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

#page-categories-title {
   margin-bottom: var(--space-regular);
}

h2, .h2 {
   margin: 0;
   font-size: 36px;
   font-style: normal;
   font-weight: 500;
   line-height: 44px;
}

h3, .h3 {
   margin: 0;
   font-size: 28px;
   font-style: normal;
   font-weight: 500;
   line-height: 120%;
}

h4, .h4 {
   font-size: 18px;
   font-weight: 450;
   margin: 0;
   margin-bottom: 0px;
   line-height: 26px;
}

p {
   line-height: 1.5;
   letter-spacing: .4px;
}

p strong, strong {
   font-family: MonaSans-bodyBold, sans-serif;
}

a {
   line-height: 1.5;
   letter-spacing: .4px;
   text-decoration: underline;
   color: var(--color-text-primary);
}

a:hover {
   text-decoration: none;
}

.flex-width-1 {
   flex: 1;
}

/* BUTTON */
.btn {
   transition: all .3s ease-in-out;
   display: inline-block;
   vertical-align: middle;
   text-decoration: none;
   font-family: MonaSans-title;
   font-weight: 500;
   font-size: 18px;
   border-radius: 360px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
}

.btn-primary {
   background: var(--color-button-background-primary);
   color: var(--color-button-text-primary);
}

.btn-primary:hover {
   background: var(--color-button-background-primary-hover);
}

/* VARIABLE LAYOUT */
.flex {
   display: flex;
   gap: var(--space-small);
   flex-direction: column;
}

.divider {
   width: 100%;
   max-width: calc(1240px - var(--space-large));
   height: 1px;
   margin: auto;
   background: var(--color-divider);
}

hr {
   width: 100%;
   color: var(--color-divider);
   background-color: var(--color-divider);
   height: 1px;
   border: 0;
}

.card {
   background: var(--color-background-elevated);
   border-radius: 16px;
}

/* LAYOUT */
html {
   -webkit-box-sizing:border-box;
   box-sizing:border-box
}

*,:after,:before {
   -webkit-box-sizing:inherit;
   box-sizing:inherit
}

body {
   height: 100%;
   margin: 0;
   padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
   font-family: MonaSans-body, sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 26px;
   color: var(--color-text-primary);
   background: var(--color-background);
}

.main {
   width: 100%;
   padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
   display: flex;
   overflow: hidden;
}

.sub-main {
   width: 100%;
}

.nav-desktop {
   display: none;
}

.nav-mobile {
   width: 100%;
   position: fixed;
   left: 0;
   bottom: 0;
   z-index: 800;
   background: rgba(251, 251, 251, 0.85);
   backdrop-filter: blur(10px) saturate(120%);
   -webkit-backdrop-filter: blur(10px) saturate(120%);
}

.nav-mobile > ul {
   width: 100%;
   margin: 0;
   padding: var(--space-none) var(--space-small) var(--space-none) var(--space-small);
   display: flex;
   gap: var(--space-small);
}

.nav-mobile > ul > li {
   margin: var(--space-none);
   padding: var(--space-none);
   display: flex;
   gap: 0;
   align-items: center;
   flex: 1;
   list-style: none;
}

.nav-item {
   width: 100%;
   padding: var(--space-small) var(--space-xx-small) var(--space-small) var(--space-xx-small); 
   position: relative;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   align-content: normal;
   gap: 0;
   font-weight: 500;
   font-size: 12px;
   font-family: MonaSans-title, sans-serif;
   line-height: 1.3rem;
   letter-spacing: 0px; 
   text-decoration: none;
}

.nav-item-icon {
   width: 24px;
   height: 24px;
   background-position: center;
   background-repeat: no-repeat;
}

#search-button:hover {
   cursor: pointer;
}

#search_modal {
   width: 100%;
   height: 100%;
   visibility: hidden;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 1000;
   background: rgba(32, 32, 32, 0.85);
   backdrop-filter: blur(10px) saturate(120%);
   -webkit-backdrop-filter: blur(10px) saturate(120%);
}

#search-container {
   width: 100%;
   height: calc(100vh - var(--space-regular));
   padding: var(--space-medium);
   position: absolute;
   left: 50%;
   top: calc(50% + var(--space-large));
   background: var(--color-background);
   border-radius: 24px 24px 0 0;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   overflow-y: scroll;
}

.search-modal-header {
   margin-bottom: var(--space-medium);
   text-align: end;
}

#search-input {
   width: 100%;
   padding: var(--space-small) var(--space-regular) var(--space-small) var(--space-regular);
   background: var(--color-background-elevated);
   border: none;
   border-radius: 8px;
   font-family: MonaSans-body, sans-serif;
   font-size: 18px;
   font-weight: 450;
   line-height: 1.2;
   line-height: 1.5;
   letter-spacing: .4px;
   color: var(--color-text-primary);
}

#search-input::placeholder {
   font-family: MonaSans-body, sans-serif;
   font-size: 18px;
   font-weight: 450;
   line-height: 1.2;
   letter-spacing: .4px;
   color: var(--color-text-primary);
}

#search-input:focus {
   outline: 2px solid var(--color-);
}

#results-container {
   padding: var(--space-none) var(--space-none) var(--space-none) var(--space-regular);
}

#results-container li {
   margin-bottom: var(--space-regular);
   list-style: none;
}

.container {
   width: 100%;
   max-width: 1240px;
   margin: 0 auto;
   padding: var(--space-medium) var(--space-medium) var(--space-none) var(--space-medium);
}

.hero p {
   margin-bottom: var(--space-large);
}

.page-header-tag {
   padding-bottom: var(--space-regular);
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: var(--space-small);
   border-bottom: 1px solid var(--color-divider);
}

.page-header-tag svg {
   width: 30px;
   height: 30px;
}

.page-header-icon {
   width: 30px;
   height: 30px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

.page-categories-mobile {
   width: 100%;
   padding-bottom: calc(60px + var(--space-regular) );
}

.page-categories-mobile > ul {
   margin: var(--space-none);
   padding: var(--space-regular);
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: stretch;
   gap: var(--space-regular);
}

.page-categories-mobile > ul > li {
   align-items: stretch;
   margin: var(--space-none);
   padding-bottom: var(--space-regular);
   list-style: none;
   border-bottom: 1px solid;
   border-color: var(--color-divider);
}

.page-categories-mobile > ul > li:last-child {
   padding-bottom: var(--space-none);
   border-bottom: 0px solid;
}

.list-link-item {
   padding: var(--space-x-none) var(--space-xx-small) var(--space-x-small) var(--space-xx-small); 
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: normal;
   align-items: center;
   align-content: normal;
   gap: var(--space-small);
   font-weight: 500;
   font-size: 16px;
   font-family: MonaSans-title, sans-serif;
   line-height: 1.3rem;
   letter-spacing: 0px; 
   text-decoration: none;
}

.list-link-item-icon {
   width: 24px;
   height: 24px;
   background-position: center;
   background-repeat: no-repeat;
}

.list-article {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: var(--space-x-large);
}

.article {
   width: 100%;
   text-decoration: none;
}

.article > header {
   display: flex;
   flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
   gap: var(--space-small);
}

.article-icon {
   width: 36px;
   min-width: 36px;
   height: 36px;
   min-height: 36px;
   border: 1px solid var(--color-divider);
   border-radius: 4px;
   background-position: center;
   background-repeat: no-repeat;
}

.article-icon-Liens {
   background-image: url( '/assets/images/icon-link-light.svg' );
}

.article-icon-Citations {
   background-image: url( '/assets/images/icon-quotes-light.svg' );
}

.article-meta {
   font-size: 14px;
   font-weight: 400;
   margin: -4px 0 var(--space-small) 0;
   line-height: 18px;
}

.article-meta a {
   display: -webkit-box; 
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;   /* Orientation vertical de la boite */
   overflow: hidden;
   color: var(--color-text-secondary);
}

.article > a {
   text-decoration: none;
}

.article-meta > p {
   margin: 0;
   padding: 0;
}

.article-title {
   font-size: 22px;
   line-height: 120%;
}

p.article-description {
   margin: var(--space-small) var(--space-none) var(--space-regular) var(--space-none);
   display: -webkit-box; 
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;   /* Orientation vertical de la boite */
   overflow: hidden;
   color: var(--color-text-secondary);
}

.article-footer ul {
   margin: var(--space-none);
   padding: var(--space-none);
   display: flex;
   gap: var(--space-small);
   flex-wrap: wrap
}

.tag {
   padding: var(--space-xx-small) var(--space-small) var(--space-xx-small) var(--space-small);
   font-size: 14px;
   line-height: 18px;
   list-style: none;
   background-color: var(--color-background-elevated);
   border: 1px solid var(--color-divider);
   border-radius: 4px;
}

ul.listing {
   margin: var(--space-medium) var(--space-none) var(--space-none) var(--space-none);
   padding: 0;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: var(--space-regular);
   list-style: none; 
} 

ul.listing li {
   flex: auto;
}

.pagination {
   width: 100%;
   margin-top: var(--space-xxx-large);
}

.pagination ul {
   width: 100%;
   margin: var(--space-none);
   padding: var(--space-none);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: var(--space-regular);
}

.pagination ul li {
   list-style: none;
}

.pagination ul li a {
   width: 48px;
   height: 48px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: normal;
   align-content: center;
   font-size: 14px;
   font-family: MonaSans-title, sans-serif;
   line-height: 1.3rem;
   text-decoration: none;
   color: var(--color-text-primary);
   border: 1px solid var(--color-divider);
}

.pagination ul li a:hover {
   background-color: var(--color-background-elevated);
}

a#pagination-active {
   border: 2px solid var(--color-text-primary);
}

/* FOOTER */
#footer {
   padding-top: var(--space-x-large);
   padding-bottom: var(--space-xxx-large);
}

#footer .divider {
   margin-bottom: var(--space-x-large);
}

#footer-btn {
   margin-top: var(--space-x-large);
}

.footer-about {
   margin-top: var(--space-xxx-large);
   padding: var(--space-medium) var(--space-medium) var(--space-regular) var(--space-medium);
   border: 1px solid var(--color-divider);
}

ul.footer-nav {
   padding: var(--space-none) var(--space-none) var(--space-regular) var(--space-none);
   list-style: none;
}

ul.footer-nav li {
   margin-bottom: var(--space-small);
}

.footer-legals {
   padding-top: var(--space-regular);
   border-top: 1px solid var(--color-divider);
}

/* RESPONSIVE */
@media screen and (min-width:960px) {
   /* TYPOGRAPHY */
   h1, .h1 { 
      font-size: 100px;
      font-style: normal;
      font-weight: 500;
      line-height: 120px;
   }
   
   h2, .h2 {
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 54px;
   }

   h3, .h3 {
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
   }

   /* VARiaBLE LAYOUT */
   .flex {
      display: flex;
      gap: var(--space-x-large);
      flex-direction: row;
   }

   /* LAYOUT */

   .container {
      padding: var(--space-x-large);
   }

   .nav-mobile {
      display: none;
   }

   .nav-desktop {
      height: fit-content;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: flex-start;
      gap: var(--space-medium);
      position: sticky;
      min-width: 396px;
      padding: var(--space-none) var(--space-xxx-large) var(--space-none) var(--space-none);
   }

   .nav-desktop > ul {
      margin: var(--space-none);
      padding: var(--space-none);
      display: flex;
      flex-direction: column;
      gap: var(--space-regular);
   }
   
   .nav-desktop > ul > li {
      margin: var(--space-none);
      padding: var(--space-none);
      list-style: none;
   }
   
   .nav-item {
      padding: var(--space-x-none) var(--space-xx-small) var(--space-x-small) var(--space-xx-small); 
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: normal;
      align-items: center;
      align-content: normal;
      gap: var(--space-small);
      font-weight: 500;
      font-size: 16px;
      font-family: MonaSans-title, sans-serif;
      line-height: 1.3rem;
      letter-spacing: 0px; 
      text-decoration: none;
   }

   .nav-item-icon {
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
   }

   .nav-desktop-tags ul {
      margin: var(--space-small) var(--space-none) var(--space-none) var(--space-none);
      padding: var(--space-none);
      display: flex;
      flex-direction: column;
      gap: var(--space-small);
   }

   .nav-desktop-tags ul > li {
      list-style: none;
   }

   #search_modal {
      width: 100%;
      height: auto;
      max-width: 800px;
      left: 50%;
      transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
      background: none;
      backdrop-filter: blur(0px) saturate(100%);
      -webkit-backdrop-filter: blur(0px) saturate(100%);
   }

   #search-container {
      width: 100%;
      height: auto;
      padding: var(--space-medium);
      position: absolute;
      left: 50%;
      top: var(--space-xxx-large);
      background: var(--color-background);
      border-radius: 24px;
      transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
      box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
      -webkit-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
   }

   .hero p {
      margin-bottom: var(--space-x-large);
   }

   .page-header-tag {
      gap: var(--space-regular);
   }

   .page-header-tag svg {
      width: 40px;
      height: 40px;
   }
   
   .page-header-icon {
      width: 40px;
      height: 40px;
   }

   ul.listing {
      margin: var(--space-small) var(--space-none) var(--space-none) var(--space-none);
      padding: 0;
      flex-direction: row;
      list-style: none;
   } 

   ul.listing li {
      flex: auto;
      min-width: 340px;
   }

   .pagination ul {
      gap: var(--space-medium);
   }

   /* FOOTER */
   #footer {
      padding-top: var(--space-xxx-large);
      padding-bottom: var(--space-x-large);
   }

   #footer .divider {
      margin-bottom: var(--space-xxx-large);
   }

   .footer-about {
      padding: var(--space-x-large) var(--space-x-large) var(--space-medium) var(--space-x-large);
      border: 1px solid var(--color-divider);
      gap: var(--space-xxx-large);
   }

   ul.footer-nav {
      padding: var(--space-none) var(--space-none) var(--space-regular) var(--space-none);
      list-style: none;
   }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
   :root {
      /* COLOR TOKEN */
      --color-background: #202020;
      --color-background-elevated: #343434;
      --color-button-background-primary: #FBFBFB;
      --color-button-background-primary-hover: #DEDEDE;
      --color-button-text-primary: #343434;
      --color-button-background-secondary: #DEDEDE;
      --color-button-text-secondary: #202020;
      --color-divider: #414141;
      --color-text-primary: #FBFBFB;
      --color-text-secondary: #BABABA;
      --color-text-third: #DEDEDE;
      --color-focus: #FBFBFB;
      --color-primary: #FFD363;
   }

   svg {
      fill: var(--color-text-primary);
   }

   img {
      filter: brightness(.8) contrast(1.2);
   }

   .article-icon-Liens {
      background-image: url( '/assets/images/icon-link-dark.svg' );
   }
   
   .article-icon-Citations {
      background-image: url( '/assets/images/icon-quotes-dark.svg' );
   }

   .nav-mobile {
      background: rgba(32, 32, 32, 0.85);
      backdrop-filter: blur(10px) saturate(120%);
      -webkit-backdrop-filter: blur(10px) saturate(120%);
   }

   #search-container {
      background: var(--color-background-elevated);
   }

   #search-input {
      background: var(--color-background);
   }
}