<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
      <title>{{ page.title }} | Bloc-notes</title>
      <meta name="description" content="Notes sur mes dégustations de fromages">
      <link rel="stylesheet" href="/css/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
      <meta property="og:locale"  content="fr_FR" />
      <meta property="og:site_name" content="{{ page.title }} | Bloc-notes">
      <meta property="og:image" content="/cover.jpg"/>
      <meta property="og:description" content="{{ page.tags-preview }}" />
      <meta property="og:url" content="{{ page.url }}">
      <meta name="fediverse:creator" content="@timothee@mastodon.design" />
      <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
      <script src="/assets/script.js"></script>
      {% include analytics.html %}
   </head>
</html>
<body>