{% include head.html %}
{% include search.html %}
<main class="main container">
   {% include nav.html %}

   <section class="list-article">
      <header class="page-header-tag">
         <h1 class="h2 page-title-tag">{{ page.category }}</h1>
      </header>
   
      {%- for post in site.categories[page.category] -%}
      <article class="article">
         <header>
            <div class="article-icon">
               <img src="https://favicon.im/{{ post.link }}" alt="Favicon" />
            </div>
            <div class="article-meta">
               <p>{{ post.author }} • {{ post.published_date }}</p>
               <a href="{{ post.link }}" target="_blank">{{ post.link }}</a>
            </div>
         </header>
         <a href="{{ post.url }}">
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-description">{{ post.description }}</p>
         </a>
         <footer class="article-footer">
            <ul>
               {% for tag in post.tags %}
               <li class="tag">{{tag}}</li>
               {% endfor %}
            </ul>
         </footer>
      </article>
      {%- endfor -%}
   </section>
</main>

{% include footer.html %}