{% include head.html %}
{% include search.html %}
<main class="container">
   {% include nav.html %}

   <h1 id="page-categories-title" class="h2">Tags</h1>
   <div class="page-categories-mobile">
      <ul class="sort-by-alphabetical">
         {%- assign sorted_tags = site.tags | sort -%}  <!-- Trie les tags alphabétiquement -->
         {%- for tag in sorted_tags -%}
         <li>
            <a class="list-link-item" href="{{ site.baseurl }}/tag/{{ tag[0] }}">
               <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-hash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 9l14 0" /><path d="M5 15l14 0" /><path d="M11 4l-4 16" /><path d="M17 4l-4 16" /></svg>
               <span class="nav-item-label">{{ tag[0] }}</span><span class="nav-item-value">{{ tag[1].size }}</span><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_3092_4218)"><path d="M0.292893 0.293015C0.683418 -0.097509 1.31643 -0.097509 1.70696 0.293015L7.70696 6.29302C8.09748 6.68354 8.09748 7.31655 7.70696 7.70708L1.70696 13.7071C1.31643 14.0976 0.683418 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6835 0.292893 12.293L5.58586 7.00005L0.292893 1.70708C-0.0976311 1.31655 -0.0976311 0.68354 0.292893 0.293015Z"/></g></svg>
            </a>
         </li>
         {%- endfor -%}
      </ul>
   </div>
</main>