{% include head.html %}
{% include search.html %}
<main class="container">
   {% include nav.html %}

   <h1 id="page-categories-title" class="h2">Catégories</h1>
   <div class="page-categories-mobile">
      <ul class="card">
         <li>
            <a class="list-link-item" href="/">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path d="M208,24H72A32,32,0,0,0,40,56V224a8,8,0,0,0,8,8H192a8,8,0,0,0,0-16H56a16,16,0,0,1,16-16H208a8,8,0,0,0,8-8V32A8,8,0,0,0,208,24ZM120,40h48v72L148.79,97.6a8,8,0,0,0-9.6,0L120,112Zm80,144H72a31.82,31.82,0,0,0-16,4.29V56A16,16,0,0,1,72,40h32v88a8,8,0,0,0,12.8,6.4L144,114l27.21,20.4A8,8,0,0,0,176,136a8,8,0,0,0,8-8V40h16Z"></path></svg>
               <span>Tous</span><span class="color-text-secondary">({{ site.posts.size }})</span>
            </a>
         </li>

         {%- for category in site.categories -%}
         <li>
            <a class="list-link-item" href="{{ site.baseurl }}/{{ category[0] }}">
               <div class="list-link-item-icon article-icon-{{ category[0] }}"></div>
               <span>{{ category[0] }}</span><span class="color-text-secondary">({{ category[1].size }})</span>
            </a>
         </li>
         {%- endfor -%}
      </ul>
   </div>
</main>