{% include head.html %}
{% include search.html %}
<main class="main container">
   {% include nav.html %}
   <section class="list-article">
      <header class="page-header-tag">
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path d="M224,88H175.4l8.47-46.57a8,8,0,0,0-15.74-2.86l-9,49.43H111.4l8.47-46.57a8,8,0,0,0-15.74-2.86L95.14,88H48a8,8,0,0,0,0,16H92.23L83.5,152H32a8,8,0,0,0,0,16H80.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,80,224a8,8,0,0,0,7.86-6.57l9-49.43H144.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,144,224a8,8,0,0,0,7.86-6.57l9-49.43H208a8,8,0,0,0,0-16H163.77l8.73-48H224a8,8,0,0,0,0-16Zm-76.5,64H99.77l8.73-48h47.73Z"></path></svg>
         <h2 class="page-title-tag">{{ page.tag }}</h2>
      </header>
   
      {%- for post in site.tags[page.tag] -%}
      <article class="article">
         <header>
            <div class="article-icon">
               <img src="https://favicon.im/{{ post.link }}" alt="Favicon" />
            </div>
            <div class="article-meta">
               <p>{{ post.author }} • {{ post.published_date }}</p>
               <a href="{{ post.link }}" target="_blank">{{ post.link }}</a>
            </div>
         </header>
         <a href="{{ post.url }}">
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-description">{{ post.description }}</p>
            <footer class="article-footer">
               <ul>
                  {% for tag in post.tags %}
                  <li class="tag">{{tag}}</li>
                  {% endfor %}
               </ul>
         </footer>
         </a>
      </article>
      {%- endfor -%}
   </section>
</main>

{% include footer.html %}